body{
    font-family: Verdana,Tahoma, sans-serif;
    margin: 0px;
}
.ngTitle-Color{
    color:#4f46e5;
    display: flex;
    justify-content: left;
    margin-bottom: 25px !important;
    font-size: 24px!important;
    font-weight: 500 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent !important;
}
